.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  @include user-select(none);
  .pace-progress {
    background: $main_theme_color;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    @include transition(width 1s);
  }
  .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    @include box-shadow(0 0 10px $main_theme_color, 0 0 5px $main_theme_color);
    opacity: 1.0;
    @include transform(rotate(3deg) translate(0px, -4px));
  }
  .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: $main_theme_color;
    border-left-color: $main_theme_color;
    @include border-radius(10px);
    display: none;
    @include animation(pace-spinner 400ms linear infinite);
  }
}
.pace-inactive {
  display: none;
}
@media(max-width: 767px) {
  .pace .pace-activity {
    right: auto;
    left: 120px;
  }
}
@include keyframes(pace-spinner){
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}
.loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1999;
  @include transition(opacity .2s ease);
  &.hideit {
    opacity: 0;
  }
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -20px 0 0 -20px;
    @include animation(pace-spinner 400ms linear infinite);
    path {
      fill: $main_theme_color;
    }
  }
}
.pace-done .loader {
  opacity: 0;
  display: none;
}