body {
  font-size: 13px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  //background-color: #1A1C25;
}

/* background body color is the last bottom element's bottom bg color */

::selection {
  background: $main_theme_color; /* Safari */
  color: #FFFFFF;
}

::-moz-selection {
  background: $main_theme_color; /* Firefox */
  color: #FFFFFF;
}