/*
    Border triangles

    @include triangle($direction,$width,$height,$color)
*/
@mixin triangle($direction,$width,$height,$color){
  width: 0px;
  height: 0px;
  border-style: solid;
  @if $direction == top {
    border-width: 0 $width/2 $height $width/2;
    border-color: transparent transparent $color transparent;
  } @else if $direction == right {
    border-width: $height/2 0 $height/2 $width;
    border-color: transparent transparent transparent $color;
  } @else if $direction == bottom {
    border-width: $height $width/2 0 $width/2;
    border-color: $color transparent transparent transparent;
  } @else if $direction == left{
    border-width: $height/2 $width $height/2 0;
    border-color: transparent $color transparent transparent;
  }
}